body {
    background-color: aquamarine;
}
.container-fluid {
    background-color: red;
    width: 50vw;
    height: 70vh;
}
.row1 {
    width: 45vw;
    height: 7vh;
    text-align: center;
    background-color: blue; 
}
.row2 {
    width: 45vw;
    height: 7vh;
    text-align: left;
    background-color: rgb(255, 251, 0);
}
form {
    width: 45vw;
    height: 30vh;
    background-color: grey;
       border: 2px solid black;
        
}
.container-fluid2 {
    width: 45vw;
    height: 20vh;
    background-color: white;
    border: 2px solid black;
    display: flex;
}
.container-fluid3 {
justify-content: center;
}